*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 2rem auto;
    border: 1px solid black;
}
.container .game-container{
    position: relative;
    width: 90%;
    margin: 2vw auto;
    border: 1px solid black;
}
.container .game-container button{
    position: absolute;
    font-size: 2vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: initial;
}
.container .game-container .game{
    display: flex;
    flex-direction: column;
}
.container .game-container .game .question{
    width: 90%;
    margin: 2vw auto;
}
.container .game-container .game .question h1{
    text-align: start;
    font-size: 3vw;
}
.container .game-container .game .answer{
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 2vw;
    column-gap: 4vw;
    width: 80%;
    margin: 0 auto 2vw;
} 
.container .game-container .game .answer .ans{
    font-size: 2vw;
    cursor: pointer;
    padding-left: 2vw;
    transition: .5s;
    background-color: white;
}
.container .game-container .game .answer .ans:hover{
    background-color: lightblue;
}
.container .scoreboard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 2vw auto;
}
.container .scoreboard .q-count, .container .scoreboard .s-count{
    display: flex;
    flex-direction: row;
    width: fit-content;
}
.container .scoreboard .q-count h1, .container .scoreboard .s-count h1{
    font-size: 2.5vw;
    padding: 0 .5vw;
}